@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,800,900');
/* font-family: 'Raleway', sans-serif; */
:root{
  --main-color:#0f967f;
  font-family: 'Raleway', sans-serif;
}
html{
  scroll-behavior: smooth;
}

div{
  /* border: 1px solid red; */
}

button:hover{
  cursor: pointer;
}

#navBarMobile{
  display: none;
}

nav{
  z-index: 3;
  position: relative;
  margin-top:0vw;
}

.empty{
  margin-top: 17vw;
}

body{
  margin: 0;
  overflow-x: hidden;
  /*height:272vw;*/
}

header{
  top:-1px;
  position: fixed;
  width: 100%;
  height: 16.64vw; /*16.64vw; original*/
  background-color: #0f967f;
  z-index: 2;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
  z-index: 5;
}

header h1{
  font-weight: 400;
  margin: 0;
  margin-left: 0.71vw;
  margin-right: 0.5vw;
  font-size: 2vw;
  text-align: center;
}

.login{
  color: white;
  position: absolute;
  right:40px;
  top:1px;
  display: block;
  margin-right: 1vw;
  margin-top: 1.07vw;
}


.loginHoverBox{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14vw;
  height: 4vw;
  z-index: 2;
}
.loginDropDownBox{
  display: none;
  background-color: white;
  padding-top: 0.9vw;
  right: 0px;
  bottom: -6vw;
  position: absolute;
  width: calc(14vw - 1px);
  height: 6vw;
}
#dropdLogIn a{
  color: #0f967f;
  text-decoration: none;
  display: block;
  margin: 0;
  padding-left: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-size: 0.9vw;
}

#dropdLogIn a:hover{
  text-decoration: none;
  background-color: rgb(233,233,233);
}

.logo{
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: inline-block;
  position: relative;
  background-image: url('img/Logo.png');
  height: 11.07vw; /*11.07vw; original*/
  width: 30vw; /*30vw; original*/
  margin-left: 50vw;
  left: -15vw;
  margin-top: 2.5vw;
  background-size: 100% 100%;
}

header button{
  position: relative;
  z-index: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px solid black;
  background-color: white;
  color:#0f967f;
  border-radius: 1vw;
  font-weight: bold;
  font-size: 2vw;
  height: 3.92vw;
  width: 100%;
}

header button:hover{
  color:white;
  background-color: #0f967f;
  border: 1px solid white;
}

#navBarDesktop{
  padding-left: 10.35%;
  padding-right: 10.35%;
  height: 3.92vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navBarDesktop a{
  color:#0f967f;
  text-decoration: none;
  font-size: 1.8vw;
}

#navBarDesktop a:hover{
  text-decoration: underline;
}

/* .servicesDropDownBox, */
.moreDropDownBox{
  /* border: 1px solid black; */
  position: relative;
}

.moreDropDown{
  padding-top: 1vw;
  position: absolute;
  bottom: -10vw;
  left: -3vw;
  /* border: 1px solid red; */
  height: 9vw;
  min-width: 19vw;
  background-color: white;
  display: none;
}
#dropdOne a{
  display: block;
  margin: 0;
  padding-left: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-size: 1.5vw;
}

#dropdOne a:hover{
  text-decoration: none;
  background-color: rgb(233,233,233);
}
.aboutUsDrowDownHoverBox{

}
#clickmee{
  position: relative;
  left: 1.3vw;
  float: right;
  display: inline-block;
  width: 2vw;
  height: 2vw;
}
.aboutUsDrowDown{
  display: none;
  background-color: white;
}
.aboutUsArrow{
  transform: rotate(90deg);
  margin-right: 1vw;
  float: right;
  font-size: 2vw;
  font-weight: 900;
  display: inline-block;
}

/* section one */
.sectionOne{
  height: 52.89vw;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr 1fr;
  grid-auto-columns: 1fr 1fr;
  grid-gap: 2px;
}

.sectionOne p:nth-child(1) {
  font-size: 40px;
  margin: 0;
}
.sectionOne p:nth-child(2){
  margin-top: 5vw;
  font-size: 1.15vw;
}

.sectionOne div{
  position: relative;
  color:white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom:4.23vw;
  padding-top: 3.3vw;
  padding-left: 3vw;
}

.sectionOne div:nth-child(3) p,.sectionOne div:nth-child(4) p{
  margin-top: 12vw;
}

.sectionOne button{
  position: absolute;
  left: 3vw;
  bottom: 2vw;
  width: 11vw;
  height: 4vw;
  background-color: rgb(14,150,126);
  color: white;
  border: none;
  font-size: 1.3vw;
}

.sectionOne button:hover{
  background-color: rgb(54,190,166);
}

.picOne{
  margin-bottom: 1px;
  margin-right: -1px;
  background-image: url('img/mainImg/picOne.png');
  -ms-grid-row:1;
  -ms-grid-row-span:1;
  grid-row:1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-size: 100% 100% ;
}

.picTwo{
  margin-bottom: 1px;
  margin-left: 1px;
  background-image: url('img/mainImg/picTwo.png');
  -ms-grid-row:1;
  -ms-grid-row-span:1;
  grid-row:1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-size: 100% 100% ;
}

.picThree{
  background-image: url('img/mainImg/picThree.png');
  -ms-grid-row:2;
  -ms-grid-row-span:1;
  grid-row:2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-top: -1px;
  margin-right: -1px;
  background-size: 100% 100% ;
}

.picFour{
  background-image: url('img/mainImg/mainFour.png');
  -ms-grid-row:2;
  -ms-grid-row-span:1;
  grid-row:2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: -1px;
  margin-left: 1px;
  background-size: 100% 100% ;
}
/* riskSolutions riskSolutions */
.riskSolutions{
  display: flex;
  height: 26.17vw;
  align-items: center;
  justify-content: center;
}
.riskSolutions h2{
  margin-right: 2.22vw;
  color: var(--main-color);
  font-size: 3.3vw;
  font-weight: 100;
}
.riskSolutions span{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}
.getStartedNowBox{
  position: relative;
  margin-bottom: 2vw;
}
.getStartedNowBox p{
  font-size: 1.7vw;
  margin: 0;
  margin-bottom: 0.5vw;
  text-align: center;
}
.getStartedNowBox button{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2.2vw;
  background-color: white;
  border: 1px solid var(--main-color);
  width: 24.44vw;
  height: 5.4vw;
}
/* Section risk/claimgame download/form button */
.sectionRisk{
  padding-top: 0.1px;
  color: white;
  min-height: 34.81vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image:url('img/riskBG.jpg');
  background-size: 100% 200%;
  background-position: 0 50%;
}
.sectionRiskLeftText{
  width: 50%;
  margin-right: 10%;
}
.sectionRiskLeftText p{
  font-size: 2.2vw;
  margin-left: 6vw;
  font-weight: 500;
}
.sectionRiskLeftText span{
  display: block;
  margin-top: 8vw;
  padding-bottom: -1vw;
  font-size: 3.2vw;
  font-weight: 900;
}
.sectionRiskRightForm{
  width: 40%;
}
form{
  margin-top: 8.3vw;
}
input{
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 25vw;
  height: 3vw;
  font-size: 1vw;
  font-weight: 500;
}
input::-webkit-input-placeholder{
  color:white;
}
input:-ms-input-placeholder{
  color:white;
}
input::-ms-input-placeholder{
  color:white;
}
input::placeholder{
  color:white;
}
.sectionRiskRightForm button{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  width: 25vw;
  height:  4.44vw;
  background-color: rgb(205,242,139);
  border: none;
  color: black;
  font-size: 2vw;
  margin-top: 1.5vw;
  font-weight: 600;
  border: 1px solid white;
}
.sectionRiskRightForm button:hover{
  background-color: rgb(255,255,62);
}

/* image guy */
.sectionImageOnly{
  /*background-image: url('img/sectionGuyPic.png');
  min-height: 50vw;
  background-size: 100% 100%;*/
  height: 100%;
}

/*Inspired */

.sectionInspired{
  padding-top: 0.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 49.11vw;
  background-color: black;
}

.claimGame{
  position: relative;
  height: 40vw;
  width: 26.66vw;
  margin-top: 1px;
}
.claimGameCut{
  position: relative;
  width: 15.11vw;
  height: 24.07vw;
  background-image: url('img/claimGameCut.jpg');
  background-size: 100% 100%;
  margin-left: 50%;
  left: -7.555vw;
  margin-top: 14.44vw;
}

.inspired{
  background: linear-gradient(135deg, rgba(47,127,114,1) 0%, rgba(203,221,209,1) 100%);
  position: relative;
  color:#0f967f;
  width: 73.33vw;
  padding-left: 6.21vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10.97vw;
}

.inspiredText{
  padding-right: 9vw;
  margin-bottom:3.3vw;
}

.inspiredText .insiperTextImage{
  background-image: url('img/INSPIRED.png');
  width: 26vw;
  height: 5vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: 2.592vw;
  margin-bottom: 2vw;
  margin-left: -0.5vw;
}

.inspiredText p{
  color: black;
  line-height: 2vw;
  font-size: 1.55vw;
  margin: 0;
}

.twenty{
  position: absolute;
  bottom: 2.592vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgTwenty{
  padding-top: 2.6vw;
  position: relative;
  top:1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgTwenty p{
  color: black;
  font-size: 0.9vw;
  font-weight: 400;
}

.buttonsTwenty{
  width: 35vw;
  padding-right: 5.55vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonsTwenty button:hover{
  color:#0f967f;
  background-color: rgb(215,252,149);
  border: 1px solid white;
}

.btnOne{
  font-family: 'Raleway', sans-serif;
  border: 1px solid white;
  background-color: rgb(205,242,139);
  color:black;
  font-weight: bold;
  font-size: 2vw;
  height: 4.44vw;
  margin-bottom: 1.03vw;
  width: 23.11vw;
}
.btnTwo{
  font-family: 'Raleway', sans-serif;
  border: 1px solid white;
  background-color: rgb(205,242,139);
  color:black;
  font-weight: bold;
  font-size: 1.9vw;
  height: 4.44vw;
  width: 23.11vw;
}

.imgTwenty img{
  margin-top: 1vw;
  margin-left: -3vw;
  margin-right: 1vw;
  height: 5vw;
  width: 11vw;
}
/*inspired pain end*/
/* newCarousel newCarousel */
.newCarousel{
  padding-top: 0.1px;
  min-height: 35vw;
}
.carContainer{
  position: relative;
  height: 20vw;
  width: 73vw;
  margin-left: 50%;
  margin-top: 7vw;
  left:-36.5vw;
}
.carouselWrapper{
  position: relative;
  width: 52vw;
  height: 100%;
  margin-left: 50%;
  left: -26vw;
  text-align: center;
}
.carouselWrapper>div:nth-child(1){
  opacity: 1;
}
.carBox{
  /* display: none; */
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.carPone{
  line-height: 2vw;
  font-size: 1.5vw;
  color: #555555;
  font-weight: 500;
}
.carPtwo{
  font-size:1.35vw;
  color: rgb(124,124,124);
}
.carPthree{
  font-size: 0.8vw;
  color: rgb(174,174,174);
}

.leftArrowBox,.rightArrowBox{
  top:45%;
  overflow: hidden;
  position: absolute;
  width: 1.5vw;
  height: 2.2vw;
}
.rightArrowBox{
  right: 0px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow{
  position: relative;
  left: 0.8vw;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1.5vw;
  height: 1.5vw;
  border: 0.3vw solid rgb(173,230,221);
}
.arrow:hover{
  border-color: rgb(133,190,181);
}
/* newCarousel newCarousel End*/
.sectionTags{
  position: relative;
  height: 28vw;
}

.sectionTags h1{
  margin: 0;
  margin-top: 4.1vw;
  margin-bottom: 3.31vw;
  color: #555555;
  font-size: 3vw;
  font-weight: 300;
}

.tagWrapper{
  overflow: hidden;
  position: relative;
  width: 78vw;
  margin-left: 50%;
  left:-39vw;
}

.tags{
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
  left: 0;
  height: 6vw;
  width: 91vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tags div{
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 0.8;
}

.tags div:hover{
  opacity: 1;
  cursor: pointer;
}
/* tags images*/
.tagOne{
  background-image: url('img/tags/tagOne.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagTwo{
  background-image: url('img/tags/tagTwo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagThree{
  background-image: url('img/tags/tagThree.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagFour{
  background-image: url('img/tags/tagFour.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagFive{
  background-image: url('img/tags/tagFive.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagSix{
  background-image: url('img/tags/tagSix.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}
.tagSeven{
  background-image: url('img/tags/tagSeven.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}
.sectionTags button{
  color: white;
  font-size: 2vw;
  background-color: rgb(14,150,126);
  border: none;
  position: absolute;
  bottom: 0px;
  margin-left: 50%;
  left: -11vw;
  width: 22vw;
  height: 6vw;
}
.sectionTags button:hover{
  background-color: rgb(54,190,166);
}
/*tags end*/
/* three div car that looks like crap */
.threeDivPic{
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-image: url('img/twitterbg.png');
  background-size: 100% 130%;
  background-position: 0 20%;
  min-height: 8.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.fa{
  font-size:36px;
  color:white;
  margin-bottom: 1.5vw;
}

.fa:hover{
  cursor: pointer;
  color:#0f967f;
}

.scrollDiv{
  color:white;
  min-height: 250px;
  /* height: 15.02vw; */
  width: 68vw;
  overflow-y: scroll;
  font-size:1.4vw;
  line-height: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.scrollDiv p{
  font-size: 16px;
  line-height: 27px;
}

.scrollDiv a{
  font-size: 16px;
  color:#2ec4aa;
}
.scrollDiv a:hover{
  color:#0f967f;
}


.scrollOne{
  text-align: center;
  min-width: 20vw;
  margin-left: 1vw;
  margin-right: 1.2vw;
}
/* footer */
footer{
  position: relative;
  padding-top: 0.1px;
  display: block;
  min-height: 30vw;
  background-color: black;
  color:white;
  text-align: center;
  padding-bottom: 0.1px;
}

footer p{
  font-size: 1.1vw;
  margin-bottom: 2.3vw;
}
footer a{
  text-decoration: none;
}

.footerGreenP{
  font-size: 1.4vw;
  color:rgb(46,196,161);
}

.footerSocial{
  margin-top: 3.71vw;
  text-align: center;
}

.footer-fa{
  padding-top: 0.5vw;
  width: 2.3vw;
  height: 1.8vw;
  color: black;
  background-color: white;
}

.toTopArrow:hover{
  cursor: pointer;
}
.toTopArrow{
  overflow: hidden;
  position: absolute;
  bottom: 1vw;
  right:1vw;
  width: 3vw;
  height: 1.5vw;
}
.toTopArrowInner{
  top: 1vw;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  border: 0.3vw solid white;
  width: 2.6vw;
  height: 2.6vw;
}


/*MEDIA FOR PORTRAIT (PHONE)*/
@media only screen and (orientation: portrait){

  .empty{
    margin-top: 31vw;
  }

  nav{
    position: relative;
  }

  #navBarDesktop{
    margin-top: 5vw;
    padding-left: 20.35%;
    padding-right: 20.35%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }

  #navBarDesktop a{
    color:#0f967f;
    text-decoration: none;
    font-size: 4.8vw;
    margin-bottom: 2vw;
  }

  #navBarDesktop a:hover{
    text-decoration: underline;
  }

  #navBarMobile{
    display: block;
    min-height: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  #navBarMobile a{
    padding-top: 1vw;
    text-decoration: none;
    color:#0f967f;
    font-weight: bold;
    font-size: 4vw;
  }

  .search{
    background-image: url('img/Search.png');
    background-size: 100% 100%;
    height: 6vw;
    width: 8vw;
    cursor: pointer;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
      width: 10vw;
      height: 0.7vw;
      background-color: #0f967f;
      margin: 1vw 0;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
  }
  /*logo*/
  header{
    height: auto;
    /* width: 100%; */
    overflow: hidden;
    /* min-height: 30vw; */
    background-color: #0f967f;
  }

  header h1{
    margin: 0;
    margin-left: 5.71vw;
    margin-right: 0.5vw;
    font-size: 4vw;
    text-align-last: justify;
  }

  .logo{
    display: inline-block;
    position: relative;
    background-image: url('img/Logo.png');
    height: 20.07vw;
    width: 60vw;
    margin-left: 50vw;
    left: -30vw;
    margin-top: 2.5vw;
    background-size: 100% 100%;
  }

  .login{
    height: 5vw;
    color: white;
    position: relative;
    float: none;
    width: 40vw;
    display: block;
    margin-right: auto;
    margin-left: 50vw;
    left:-20vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
  }

  .login button{
    display: none;
  }
  /*logo*/
  /*grid*/
  .sectionOne>div p:nth-child(1){
    font-size: 5vw;
  }
  .sectionOne>div p:nth-child(2){
    font-size: 3vw;
  }
  .sectionOne{
    height: auto;
    display: -ms-grid;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }
  .picOne{
    margin: 0;
    -ms-grid-row:1;
    -ms-grid-row-span:1;
    grid-row:1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .picTwo{
    margin: 0;
    -ms-grid-row:2;
    -ms-grid-row-span:1;
    grid-row:2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .picThree{
    -ms-grid-row:3;
    -ms-grid-row-span:1;
    grid-row:3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .picFour{
    margin: 0;
    -ms-grid-row:4;
    -ms-grid-row-span:1;
    grid-row:4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .sectionOne div{
    font-size: 4vw;
  }
  .sectionOne button{
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
  }
  /*grid endd*/
  form{
    margin-left: 1vw;
  }
  input{
    font-size: 2vw;
  }
  /*  new car*/
  .newCarousel{
    min-height: 58vw;
  }
  .sectionTags h1{
    font-size: 5vw;
  }
  .carPone{
    line-height: 3vw;
    font-size: 3vw;
    font-weight: 500;
  }
  .carPtwo{
    font-size:2vw;
    color: rgb(124,124,124);
  }
  .carPthree{
    font-size: 1.5vw;
    color: rgb(174,174,174);
  }
  .leftArrowBox,.rightArrowBox{
    top: 90%;
    width: 3vw;
    height: 4.4vw;
  }
  .arrow{
    left: 1.6vw;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 3vw;
    height: 3vw;
    border: 0.6vw solid rgb(173,230,221);
  }
  /*inspired*/
  .sectionInspired{
    height: auto;
  }

  .inspiredText{
    margin-bottom:15vw;
  }

  .inspiredText h1{
    margin-top: 4.43vw;
    margin-bottom: 2vw;
  }

  .inspiredText p{
    line-height: 1.4;
    font-size: 1.9vw;
  }

  .twenty{
    margin: 0;
  }
  .imgTwenty{
    padding: 0;
  }


  /*inspired end*/
  .sectionRisk{
    font-size: 2.1vw;
    height: auto;
  }

  .sectionRisk h1{
    font-size: 5.5vw;
  }

  .sectionRisk p{
    font-size: 2.5vw;
  }

  .sectionRisk button{
    font-size: 4vw;
    padding: 1.5vw;
    height: auto;
    width: auto;
    margin-bottom: 2vw;
  }

  .scrollDiv{
    font-size:1.8vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 3vw;
    width: 50vw;
  }
/* footer */

  footer{
    min-height: 33vw;
  }
  .footer-fa{
    width: 4vw;
    height: 4vw;
  }
  footer p{
    font-size: 1.75vw;
    line-height: 4vw;
  }
  .footerGreenP{
    font-size: 2vw;
  }

}

@-moz-document url-prefix() {
  .sectionOne div{
    min-height: 25vh;
  }
}
